:root {
    --button-border-radius: 20px;
    --button-font-size: 14;
    --text-color: white;
    --accent-color: #25d865;
    --bg-color: #222;
}
html {
    font-family: 'Work Sans', sans-serif;
}
body {
    background: var(--bg-color);
}
* {
    color: var(--text-color);
}
text {
    fill: var(--text-color);
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#title {
    font-size: 25px;
}
#loading-text {
    font-size: 35px;
    display: none;
}
#input-selection {
    margin: 10px;
    display: flex;
    flex-direction: row;
    height: 100px;
}
#drop-area {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ddd;
    cursor: pointer;
    width: 50%;
    border-radius: var(--button-border-radius);
    font-size: var(--button-font-size);
    transition-duration: 0.1s;
}
#drop-area:hover {
    border-color: var(--accent-color);
}
#drop-area.highlight {
    border-color: var(--accent-color);
}
#drop-area-text {
    text-align: center;
}
#drop-input {
    display: none;
}
#or-text {
    font-size: 35px;
    font-weight: bold;
    margin: 20px;
    display: flex;
    align-self: center;
    text-align: center;
}
#sample-button {
    border: 2px solid var(--accent-color);
    background-color: var(--bg-color);
    width: 50%;
    padding: 5px;
    border-radius: var(--button-border-radius);
    font-size: var(--button-font-size);
    font-family: 'Work Sans', sans-serif;
    transition-duration: 0.1s;
    cursor: pointer;
}
#sample-button:hover {
    background-color: var(--accent-color);
    color: black;
}
#sample-button:active {
    background-color: var(--accent-color);
    color: black;
}
#d3 {
    position: relative;
}
#overlay {
    position: absolute;
    left: 0px;
    top: 0px;
}
#zoomRect {
    fill: white;
    stroke: black;
    opacity: 0.8;
    pointer-events: none;
}
#selection {
    stroke: var(--text-color);
    stroke-width: 1px;
    pointer-events: none;
}
#mouseOverLine {
    fill: var(--text-color);
    pointer-events: none;
}
#tooltip {
    font-size: 24;
    font-weight: bold;
}
svg text {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
svg text::selection {
    background: none;
}
